<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AngularJS Autocomplete</title>
	<!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
	<style type="text/css">
		.list-group-item:hover{
			color: #337ab7;
			text-shadow:  0 0 1em #337ab7;
			cursor: pointer;
		}
	</style>
</head>
<body>
<br><br>
	<div class="col-md-3">
		<br>
		<h4>Other Links</h4>
		<a href="http://webdestiny.in" class="label label-primary">AngularJS PHP INSERT/UPDATE/DELETE</a>
		<a href="http://webdestiny.in/dropdown.php" class="label label-primary">Dynamic Dropdown using AngularJS in PHP</a>
	</div>
	<div class="container col-md-6">
		<div ng-app="myApp" ng-controller="myCtrl" ng-init="loadCountry()">
			<h3 align="center">AngularJS Autocomplete Textbox</h3>
			<label>Enter Country Name</label>
			<input type="text" name="country" id="country" ng-model="country" ng-keyup="complete(country)" class="form-control" />
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="countrydata in filterCountry" ng-click="fillTextbox(countrydata)">{{countrydata}}</li>
			</ul>
			
		</div>
	</div>
	<script>
	var app=angular.module("myApp",[]);
	app.controller('myCtrl',function($scope,$http){
	 $scope.filterCountry=[]
	  $scope.filter=[]
		var str1 = "http://dataservice.accuweather.com/locations/v1/cities/autocomplete?apikey=Ko2l2JaffJiTGYvFhYJv2Pr394otANM9&q=";
		$scope.countryList = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla", "Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain" ,"Caicos"];
		$scope.complete=function(string){
		var str2 = str1.concat(string);;
		 $scope.filter=[]
			$http.get(str2)

  .then(function(response) {
      $scope.Countrys = response.data;
	  angular.forEach($scope.Countrys, function (value, key) { 
                $scope.filter.push(value.LocalizedName); 
				
            });
			$scope.filterCountry= $scope.filter
  });
		}
		$scope.fillTextbox=function(string){
			$scope.country=string;
			$scope.filterCountry=null;
		}
	});
</script>
</body>
</html>
